<div class="bg-image">
	<h1 class="text-center p-t-100">Admin Panel</h1>
	<h3 class="text-center">Slider</h3>
	<div class="container">
		<h1><%= @admin.heading%></h1>
		<p><%= @admin.paragraph%></p>
		<%= link_to "Edit Slider 1", edit_admin_path(@admin)%>
		<br>
		<h1><%= @admin2.heading%></h1>
		<p><%= @admin2.paragraph%></p>
		<%= link_to "Edit Slider 2", edit_admin_path(@admin2)%>
		<br>
		<h1><%= @admin3.heading%></h1>
		<p><%= @admin3.paragraph%></p>
		<%= link_to "Edit Slider 3", edit_admin_path(@admin3)%>
		<br><br>
	</div>
</div>